
.container{
position:relative;
background-color: #000000;

}


.about-section{
    
    display: flex;
    align-items: center;
    z-index: 10;
   gap:50px;
}
.profile{
    width: 350px;
    height: 450px;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
object-fit: cover;
    margin-top: 10%;
    margin-left: 25%;
    border: 2px solid #f9c802;
    box-shadow: #ffffff 0px 0px 10px, #ff0267 0px 0px 20px;
}
.text-container{
    max-width: 500px;
    text-align: center;
    margin-top: 10%;
}
.heading{
    font-style: italic;
    font-size: 30px;
    color: #f80965;
    margin-right:0;
}
.about{
    font-style: italic;
    font-size: 35px;
    color: #ffffff;
    margin-top: 10px;
    margin-right: 0;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
    margin-top: 16%;
    position: relative;
    z-index: 20;
    
}
.sphere{
    width:200px;
    height: 200px;
    border-radius: 50%;
   background-color: #ff006691;
    border: 3px solid #dbd5c1;
    color:rgb(255, 255, 255);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
    
}  
.sphere:hover{
    background-color: #fbebd3;
    border: 2px solid #ff0267;
    color: #000000;
    transform: scale(1.1);
   
} 


.title1{
    margin-top: 15%;
    color: #f10a82;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    z-index: 10;
}
.project1{
    width: 150%;
    height: 200px;
    
    
}

.card{
    margin-left: 100px;
   
}
.project-video{
    width: 500px;
    height: 300px;
    border: 2px solid #ffffff;
   margin-left:30%;
    border-radius: 10px;
}
.subtitle{
    margin-left: 90px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    
}
.subtitle2{
    margin-left: 150px;
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    
}
.note{
    margin-left: 26px;
    margin-top: 10px;
    font-size: 15px;
}
.imgcard{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    border: none;
    margin-top: 20px;
}
.imgcard img{
    width: 500px;
    height: 300px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgb(230, 6, 140);
}
.title2{
    margin-top: 15%;
    color: #f80965;;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    z-index: 10;
}
.title3{
    margin-top: 15%;
    color: #f80965;
    font-size: 30px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    z-index: 10;
}

.craftcard{
    display:flex;
    flex-direction: column;
    align-items: center;
   height: auto;
    border: none;
    margin-top: 20px;
}
.craftcard img{
    margin-left: 30px;
    width: 500px;
    height: 450px;
    border: 2px solid #ffffff;
    border-radius: 10px;
    margin-bottom: 30px;
    
}
.coverpage{
    width:500px;
height: 300px;
border: 2px solid #ffffff;
border-radius: 10px;
margin: 20px auto;
box-shadow: 0 0 10px #f00457;
display: block;
object-fit: cover;
}
.story-container{
    position: relative;
    width: 500px;
height: 300px;
border-radius: 10px;
margin:40px auto;
}
.story-content-overlay{
   position: absolute;
    top: 0;
    left: 0;
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    transition: background 0.3s ease;
    
}
.story-title{
    color: #000000;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 55px;
    text-shadow: 2px 2px 4px #f9005b;
}
.story-title2{
    color: #000000;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 110px;
    text-shadow: 2px 2px 4px #f6096b;
}
.story-title3{
    color: #000000;
    font-size: 25px;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    margin-left: 150px;
    text-shadow: 2px 2px 4px #f6096b;
}
 .pdf-link{
   
    text-decoration: none;
    background-color: #f50f67;
    color: #ffffff;
     font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 20px;
    margin: 15px auto;
    margin-top: 100px;
    margin-left: 5px;
    
  
}