footer {
  position: relative;   /* change from fixed */
  margin-top: 5px; /* pull up to overlap design */
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8c0c2b;
  color: white;
  text-align: center;
  height: 200px; /* keep same height */

  display: flex;
   justify-content: space-between;
  align-items: center;
 
}
.icon{
    width: 50px;
    height: 50px;
    margin-right: 8px;

}